<nav class="sidebar mat-elevation-z8">
  <ul>
    <li routerLink="/hotel-dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </li>
    <li routerLink="/hotel-dashboard/profile" routerLinkActive="active">
      <mat-icon>person</mat-icon>
      <span>Profile Settings</span>
    </li>
    <li routerLink="/hotel-dashboard/bookings" routerLinkActive="active">
      <mat-icon>event_note</mat-icon>
      <span>Bookings</span>
    </li>
    <li routerLink="/hotel-dashboard/reviews" routerLinkActive="active">
      <mat-icon>star_rate</mat-icon>
      <span>Reviews & Ratings</span>
    </li>
  </ul>
</nav>
