<mat-toolbar class="topbar">
  <div class="left-section">
    <mat-icon class="logo-icon">hotel</mat-icon>
    <span class="logo">HBMS Hotel</span>
    
  </div>

  <span class="spacer"></span>

  <div class="actions">
    <app-theme-toggle
      [isDarkMode]="isDarkMode"
      (toggle)="toggleDark.emit()"
    ></app-theme-toggle>

    <button mat-raised-button color="primary" routerLink="/" class="logout-btn">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </div>
</mat-toolbar>
